
/*
body
{
font-family: Tohoma, Century, Arial, sans-serif;
font-size: 14px;
color: #FFFF00;
background-color: #000000;
background-image: url(../website/images/star_wars1.png);
background-attachment: scroll;
background-repeat: repeat;
border-top: 5px solid #000000;
margin: 0;
}
*/

/*
Layout
*/
/*
#container
{
width: 1080px;
margin: 0 auto;
background-color: #000000;
background-image:;
border-bottom: 5px solid #241F1C;
}

#header
{
text-align: center;
/*color: #FFFF00;
font-family: arial black;
font-size: 48px;
}
*/
#content
{
width: 800px; /*mess with this to bring sidebar up*/
float: left;
padding: 18px 18px; /*mess with this to bring sidebar up*/
overflow : auto;
}

#sidebar
{
font-size : 12px;
width: 160px; /*mess with this to bring sidebar up*/
float: left;
padding: 90px 8px 8px 8px; /*mess with this to bring sidebar up*/
line-height: 1.4em;
}

#footer
{
padding: 50px 0;
font-size: 12px;
line-height: 0.6em;
text-align: left;
color: #FFFF00;
/*background-color: #000000;*/
clear: both;
}


/*
Images
*/

img
{
border: 0;
}

/*.portrait 	
{
float: left;
padding: 4px 4px 4px 0;
border: 1px solid #0000CC;
}*/


/*
Typography
*/

h1, h2, h3, h4, h5, h6
{
text-align: center;
font-weight: normal;
color: #FFFF00;
}

h1
{
font-size: 30px;
font-family: arial black, Century Gothic, sans-serif;
text-transform: uppercase;
letter-spacing: 0.08em;
}

h2
{
font-size: 30px;
font-family: arial black, Century Gothic, sans-serif;
text-transform: uppercase;
letter-spacing: 0.1em;
}

h3
{
font-size: 30px;
font-family: arial black, Century Gothic, sans-serif;
text-transform: uppercase;
letter-spacing: 0.1em;
}

h4
{
font-size: 30px;
font-family: arial black, Century Gothic, sans-serif;
text-transform: uppercase;
letter-spacing: 0.08em;
}
h5
{
font-size: 30px;
font-family: arial black, Century Gothic, sans-serif;
text-transform: uppercase;
letter-spacing: 0.08em;
}

h6
{
font-size: 30px;
font-family: arial black, Century Gothic, sans-serif;
text-transform: uppercase;
letter-spacing: 0.08em;
margin-top: 30px;
padding-top: 0px;
border-top: solid 1px #FFFF00;
border-bottom: solid 1px #FFFF00;
}


p
{
font-size: 18px;
font-family: arial black, Century Gothic, sans-serif;
font-weight: bold;
line-height: 1.4;
text-transform: uppercase;
text-align: center;
color: #FFFF00;
}

#footer p
{
margin: 6px;
}

blockquote
{
font-family: arial black, Century Gothic, sans-serif;
font-size: 18px;
font-style: italic;
letter-spacing: 0.02em;
margin-left: 20px;
padding: 0 20px;
border-left: 8px solid #FFFF00;
border-right: 8px solid #FFFF00;
}

/*.primate
{
text-transform: uppercase;
font-weight: bold;
text-align : right;
}*/


/*
Links
*/

a
{
font-size: 18px;
font-family: arial black, Century Gothic, sans-serif;
color: #FF0000;
text-transform: uppercase;
/*text-decoration: none;*/
line-height: 1em;
}

a:link
{
/*border-bottom: 1px solid #FF0000;*/
/*border-top: 1px solid #FF0000;*/
}

a:visited
{
color: #FF0000;
/*border-bottom: 1px dotted #FFFF00;*/
}

a:hover
{
color: #FF0000;
background-color: #0000CC;
/*border-bottom: none;*/
}

a:active, a:focus
{
color: #0000FF;
background-color: #00CC00;
/*border-bottom: none;*/
}

#footer a:link, #footer a:visited
{
color: #FF0000;
border-bottom: none;
}

/*
Lists
*/

ul
{
font-size: 16px;
line-height: 1;
}

#nav
{
margin: 0;
padding: 0;
list-style: none;
border-top: 4px solid #FFFF00;
border-right: 4px solid #FFFF00;
border-left: 4px solid #FFFF00;
/*border-bottom:4px solid #FFFF00;*/
}

#nav li
{
margin: 0;
padding: 0;
}


/*
following rule:
1. same rules as typograph
2. color scheme
*/
/*
#nav li a
{
font-family: arial black, Century Gothic, sans-serif;
display: block;
border-bottom: 4px #FFFF00 solid;
padding: 20px 6px 18px 18px;
background-image: url(../website/images/diamond2.gif);
background-repeat: no-repeat;
background-position: 2px center;
text-transform: uppercase;
letter-spacing: 0.02em;
}
*/
#nav li a:hover
{
background-color: #0000CC;
color: #FF0000;
}


