<!DOCTYPE html>
	<head>
		<title>Resources</title>
		<link rel="stylesheet" type="text/css" href="index.css"/>
	</head>
	<body>
	<div id="container"> <!-- Contained Opening Division-->

	<div id="header"> <!--Opening Header Disivion-->
		<p><img src="../website/images/sw_banner1.PNG" alt="star wars banner" width="1160" height="380" /></p>
	</div> <!-- Closing Header Division -->

	<div id="content"> <!--Opening Content Disivion-->

		<h1>Refrences</h1>

		<p>For further information about Lucas Films Click Here!<a href=" target="new" ><img src="" alt="" width="" height="" /></a>
		</p>


		<p> <a href="" target="" ><img src="" alt="  " width="" height="" /></a></p>


		<p>For Further information about the developer Click here!
		<a href="" target="" ><img src="" alt="" width="" height="" /></a></p>

		<p>For further information about the Publisher Click here!
		<a href="" target="" ><img src="" alt="" width="" height="" /></a></p>


		<h6>Other References</h6>

		<ol>
			<li><a href="http://www.starwars.com/" title="Star Wars Official Site." target="new" >Star Wars official</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Star_Wars" title="Star wars Wiki" target="new" >Star Wars Wiki</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Star_Wars_Battlefront_%282015_video_game%29" target="new" >Star Wars Bf3 wiki</a></li>
		</ol>

		</div> <!-- Closes the #content div. -->

		<div id="sidebar">

		<ul id="nav">
					<li><a href="index.html" title="Home">Home</a></li>
					<li><a href="about.html" title="About Us">About Us</a></li>
					<li><a href="contactus.html" title="Contact Us">Contact Us</a></li>
					<li><a href="Resources.html" title="Resources">Resources</a></li>
		</ul>


		</div> <!-- Closes the #sidebar div. -->

		</div> <!-- Closes the #container div. -->

	</body>
</html>