html {
	font: 14px sans-serif;
}

.top-bar {
	background-color: lightgray;
	border: 1px solid black;
}

.align-right {
	margin-left: auto;
	margin-right: 20px;
}

main {
	height: auto;
}

.editable-items-heading {
	margin: 5px 0 5px -5px;
	font-weight: 900;
	white-space: nowrap;
}

.pages {
	border: 1px solid gray;
	margin-right: 5px;
}

.editor {
	border-radius: 15px;
	border: 1px solid black;
	margin-right: 5px;
}

.currently-updating-heading {
	position: relative;
	z-index: 1;
	font: 18px sans-serif;
	margin-top: -12px;
	margin-bottom: 0;
	text-align: left;
	font-weight: 700;
}

.text-above-border {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background: #fff;
	padding: 0 15px;
}

.buttons {
	padding-bottom: 4px;
	border-bottom: 1px solid black;
}

.editor-button {
	width: 40px;
	font-size: 20px;
	border: none;
}

.editor-button:hover {
	color: #bbbbbb;
}

#content-editor {
	background-color: white;
	min-height: 400px;
	padding: 10px;
}

#preview-page-content, #update-page-content {
	display: none;
}

form {
	display: inline-block;
}

.form-button {
	display: inline-block;
	width: 150px;
	height: 45px;
	font-size: 24px;
	margin-top: 25px;
}

.form-button-icon {
	margin-right: 10px;
}
